.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  font-family: 'Open Sans', sans-serif
}

.ant-tag {
  margin-top: 10px;
  /* line-height: 40px; */
  /* height: 44px; */
  border-radius: 40px;
  font-size: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

#topstats .ant-statistic-content-value-int{
  color: #219f99;
  font-family: 'Open Sans', sans-serif;
  /* font-size: 40px; */
  font-weight: bold;
}

.custom-form .ant-list-vertical .ant-list-item-meta-title {
  font-size: 30px;
  font-weight: bold;
}

#custom-form .ant-form-inline .ant-form-item {
  width: 100%
}
#custom-form .ant-form-inline .ant-form-item > .ant-form-item-control-wrapper, #custom-form .ant-form-inline .ant-form-item > .ant-form-item-label {
  width: 100%;
  margin-bottom: 20px;
}

#custom-collapse .ant-collapse-borderless {
  padding: 10px;
}

button, html [type="button"], [type="reset"], [type="submit"], .ant-input-affix-wrapper .ant-input:not(:first-child) {
  border-radius: 40px;
  /* height: 40px; */
  /* font-size: 20px; */
}

/* table {
  font-size: 15px;
} */
/*.ant-collapse > .ant-collapse-item > .ant-collapse-header{*/
/*  background: cadetblue;*/
/*  color: white;*/
/*}*/

#biomarker .ant-card-bordered {
  background-color: #ebebeb;
  margin-top: 16px;
  color: #ffffff;
}

#fbv .ant-card-bordered {
  /*background-color: skyblue;*/
  margin-top: 16px;
  color: #ffffff;
}
#plv .ant-card-bordered {
  /*background-color: darkkhaki;*/
  margin-top: 16px;
  color: #ffffff;

}
#mrs .ant-card-bordered {
  /*background-color: lightgray;*/
  margin-top: 16px;
  color: #ffffff;

}
#fmr .ant-card-bordered {
  /*background-color:mediumaquamarine;*/
  margin-top: 16px;
  color: #ffffff;

}

.site-statistic-demo-card {
  padding: 30px;
  background: #1b0202;
}

/* #r1 {
  width: 100%;
  height: 100%;
}
#r1canvas {
  width: 100%;
  height: 100%;
}

#r2 {
  width: 100%;
  height: 100%;
}
#r2canvas {
  width: 100%;
  height: 100%;
}

#r3 {
  width: 100%;
  height: 100%;
}
#r3canvas {
  width: 100%;
  height: 100%;
} */

#orientation {
  /* background-color: #ffffff; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#orientation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.direction {
  z-index: 1;
  color: #38FFD8;
  text-transform: uppercase;
  font-size: 10px;
  position: absolute;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

#top {
  top: 24px;
  width:40px
}

#bottom {
  bottom: 0;
  width:40px
}

#left {
  left: 0;
  width:40px
}

#right {
  right: 0;
  width:40px
}

.steps-content {
  min-height: 200px;
  margin-top: 16px;
  padding-top: 80px;
  text-align: center;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.steps-action {
  margin-top: 24px;
}

.numeric-input .ant-tooltip-inner {
  min-width: 32px;
  min-height: 37px;
}

.numeric-input .numeric-input-title {
  font-size: 14px;
}

.ant-card-head {
  background-color: "#f4f4f4";
}